
body {
    width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.container-1{
    width:1250px;
}
.header-box {
    width: 1250px;
    margin-top: 20px;
    height: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
}

.item {
    font-size: 20px;
    font-family: "Arial";
    color: white;
    padding: 33px;

}

.item:hover {
    background-color: red;
}
.first-page {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;

}

.text1 {
    display: flex;
    flex-direction: column;
    width: 520px;

}
.text2{
    width: 520px;
    font-size: 18px;
}

h1 {
    font-size: 54px;
    font-family: "Arial Black";
}

.video {
    display: flex;
    flex-direction: column;

}

.contact-us {
    color: white;
    background-color: red;
    border-radius: 3px;
    text-align: center;
    padding:20px;
    width: 200px;
    font-size: 16px;
    font-family: "Arial Black";
}

.button {
    background: red;
}
.second-page{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;

.text3 {
    display: flex;
    flex-direction: column;
    width: 520px;

}
.text4 {
    width: 520px;
    font-size: 18px;

}
.column2{
display: flex
    flex-direction: column;

}
.column1{
    display: flex
    flex-direction: column;

}